# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

Offline 1 (Shell Script)/Match
Offline 1 (Shell Script)/Workspace/answers
Offline 1 (Shell Script)/Workspace/tests
Offline 1 (Shell Script)/Workspace/target

*.Identifier

*.zip
Offline 1 (Shell Script)/Workspace/submissions
!Offline 1 (Shell Script)/Workspace/submissions/*.zip
Offline 1 (Shell Script)/Workspace/1905045/

Offline 2 (xv6 System Call)/xv6-riscv/

Offline 4 (IPC)/*.txt

